@model IEnumerable<FileHandlingTest.Controllers.FileListViewModel>

@{
    ViewData["Title"] = "Read";
}

<h1>Read File List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                File List
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.HiddenFor(modelItem=>item.FilePath)
            </td>
            <td>
                @Html.ActionLink("View", "View", new { Path= item.FilePath })
            </td>
        </tr>
}
       
    </tbody>
</table>
<div class="form-group">
    <a asp-action="Index" asp-controller="File" class="btn btn-primary">Back to Create</a>
</div>