
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    ViewBag.Message = "Home";
}

@section AdditionalLinks{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Experiance</a>
}